{% extends "base.html" %}
{% load i18n %}

{% block title %}Varaa tapahtuma{% endblock %}
{% block header %}Tapahtuma: {{tapahtuma.otsikko}}{% endblock %}

{% block content %}
    <p>
        {% spaceless %}
        <span>{{tapahtuma.alku.date}}</span>
        <span> klo </span>
        <span>{{tapahtuma.alku.time}}</span>
        {% if tapahtuma.kesto %}
            <span>, kesto </span>
            <span>{{tapahtuma.kesto_tuntia|floatformat}} h</span>
        {% endif %}
        {% endspaceless %}
    </p>
    <p>{{tapahtuma.kuvaus}}</p>

    {% if varattu %}
        Olet varannut paikkasi tapahtumaan!
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="toiminto" value="peru"/>
            <input type="submit" value="Peru varaus"/>
        </form>
    {% elif tapahtuma.onko_tilaa %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Osallistun!"/>
        </form>
    {% else %}
        Harmi, tapahtuma on jo täynnä.
    {% endif %}
{% endblock %}
